body {
  background-color: #faf8ef;
}

#app {
  margin: 0 auto;
  max-width: 675px;
}

.gol .grid-container .row {
  font-size: 0;
}

.gol .grid-container .row>div {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px 5px 0 0;
  background-color: #776e65
}

.gol .grid-container .row>div.live {
  background-color: #f67c5f;
}

.gol .inputs {
  margin-top: 20px;
}

.gol .inputs button {
  background: #8f7a66;
  color: #f9f6f2;
  line-height: 32px;
  padding: 0 15px;
  margin-right: 20px;
  border-width: 0;
  font-size: 18px;
  outline: none;
}

.gol .inputs button:active {
  background: #f2b179;
}